.DashboardContainer{
    margin-left: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    margin: 0;
    flex: 1;
}

.Stats{
    display: flex;
padding: 16px 24px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
align-self: stretch;
border-radius: 24px;
border: 1px solid #FFB574;
background: rgba(126, 42, 12, 0.30);
}

.StatsContainers{
display: flex;
padding: 10px 16px;
align-items: flex-start;
gap: 28px;
flex-shrink: 0;
align-self: stretch;
}

.GraphContainer{
    display: flex;
height: 425px;
padding: 25px ;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
border-radius: 24px;
border: 1px solid #FFB574;
background: rgba(126, 42, 12, 0.30);
}

.GraphHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}


.GraphIcon{display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
flex-shrink: 0;
    border-radius: 12px;
background: rgba(159, 45, 0, 0.50);
}
@media (max-width: 768px) {
    .DashboardContainer{
        margin-left: 0;
    }
}