@font-face {
    font-family: Panchang;
    src: url(../assets/Fonts/Panchang-Regular.otf);
}

.LoginHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    gap: 16px;
    padding: 16px;
    font-family: Panchang;
    color: #FFF;
    font-size: 16px;
}

.MailField{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    font-family: Panchang;
    color: #FFF;
}