@font-face {
    font-family: Panchang;
    src: url(../assets/Fonts/Panchang-Regular.otf);
}

.LoginSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 10;
    gap: 24px;
}

.LoginHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    gap: 16px;
    padding: 16px;
    font-family: Panchang;
    color: #FFF;
    font-size: 24px;
}

.MailField,.PassField{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    font-family: Panchang;
    color: #FFF;
}

.MailInput,.PassInput{
    width: 100%;
    height: 90%;
    border: 2px solid #FFD27D;
    border-radius: 20px;
    padding: 16px 20px;
    background-color: #652300;
    font-family: Panchang;
    color: white;
}

.forgot p{
    color: #FFD27D;
    text-decoration: dashed underline 1px;
}

.SigninButton{
    background-color: #FFD27D;
    font-family: Panchang;
    color: #652300;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.SigninButton:hover{
    background-color: #652300;
    color: #FFD27D;
    border: #FFD27D 1px solid;
}

.RememberButton{
    display: flex;
    flex-direction: row;
    font-family: Panchang;
    color: #FFF;
    gap: 16px;
}

@media (max-width:768px){

    .LoginSec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .MailField,.PassField{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

