.DashboardContainer{
    margin-left: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.Content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    margin: 0;
    flex: 1;
}

.Projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}