.Container1{
display: flex;
padding: 24px 16px;
flex-direction: column;
justify-content: center;
gap: 16px;
border-radius: 16px;
border: 1.63px solid #FFB574;
background: rgba(0, 0, 0, 0.00);
width: 20%;
height: 40vh;
}

.Title1{
    color:white;
    font-family: Panchang;
    width: fit-content;
}

.ProjectData1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.PlusSignCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PlusSignCont:hover{
    cursor: pointer;
}

.PlusSign{
    width: 30%;
    height: 50%;
}