.StatIcon{
    border-radius: 16px;
background: rgba(159, 45, 0, 0.50);
display: flex;
justify-content: center;
align-items: center;
width: 48px;
height: 48px;
}

.StatGain{
    display: flex;
    flex-direction: row;
    border-radius: 800px;
background: rgba(0, 255, 0, 0.10);
color: #90EE90;
display: flex;
width: 80.047px;
height: 26px;
padding: 0 12px;
align-items: center;
gap: 4px;
font-family: Arial;
}

.StatTitle{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 8px;
    margin: 0;
}


.StatNumber{
    color: white;
    margin: 0;
    font-size: 32px;
    font-family: Arial;
    
}

.StatTitleHead{
    color: #FFB574;
    margin: 0;
}

.StatsHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 16px;
}