.TopBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
    padding: 16px 24px;
    border: 1px solid #7e600ce7;
    box-sizing: border-box;
}

.TopBar-Content{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Icon{
    width: 180%;
    height: 180%;
    transition: all 0.3s ease;
}

.Icon:hover{
    cursor: pointer;
    padding: 8px;
    border: 1px solid #7e600ce7;
    border-radius: 50%;
}

.IconHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

@media (max-width: 768px) {
    .TopBar{
        padding: 12px 16px;
    }
    
    .IconHolder{
        padding: 12px;
    }
}