.TopBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    padding: 16px 24px;
    border: 1px solid #7e600ce7;
    box-sizing: border-box;
    background: linear-gradient(135deg, rgba(255, 181, 116, 0.1) 0%, rgba(201, 122, 74, 0.1) 100%);
}

.TopBar-Content{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Icon{
    width: 32px;
    height: 32px;
    transition: all 0.3s ease;
}

.Icon:hover{
    cursor: pointer;
    padding: 8px;
    border: 1px solid #7e600ce7;
    border-radius: 50%;
}

.IconHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

@media (max-width: 768px) {
    .TopBar{
        padding: 12px 16px;
        margin-bottom: 65px;
    }
    
    .IconHolder{
        padding: 8px;
        gap: 8px;
    }
    
    .Icon{
        width: 28px;
        height: 28px;
    }
}