.NavLink{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-family: Panchang;
    color: #FFB574;
    transition: background-color 0.5s ease-in-out, border 0.3s ease,  color 0.3s ease;
    width: 100%;
    padding: 8px 16px;
}

.NavLink:hover{
    border: 1px solid #FFB574;
    border-radius: 16px;
    padding: 8px 16px;
    background-color: rgba(126, 42, 12, 0.30);
    color: #FFF;
    width: 100%;
}

.NavLink p{
    text-decoration: none;
    margin: 0;
}

@media (max-width: 768px) {
    .NavLink{
        gap: 12px;
        padding: 6px 12px;
        flex-direction: column;
        justify-content: center;
    }
    
    .NavLink p{
        display: none;
    }
    
    .NavLink:hover{
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    .NavLink{
        gap: 8px;
        padding: 4px 8px;
        font-size: 12px;
        flex-direction: column;
        justify-content: center;
    }
    
    .NavLink p{
        display: none;
    }
    
    .NavLink:hover{
        padding: 4px 8px;
    }
}