.LettersHolder{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 800px;
    background: rgba(159, 45, 0, 0.50);
    color: #FFF;
    font-family: Arial;
    font-size: 12px;
}

.ContentRecent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.RecentContent{
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial;
}

.RecentContent p, h5, h6 {
    margin: 0;
}

.RecentName{
    color: #FFF;
    font-size: 14px;
}

.RecentActivity{
    color: #FFD6A7;
    font-size: 14px;
}

.RecentApp{
    color: #FFB574;
    font-size: 14px;
    
}

.RecentTime{
    color: #FFB574;
    font-size: 12px;
    
}